/* Elements */

body{
  background: #f1f1f1;
  color: #333;
  letter-spacing: 1px;
}

a{
  color: #d95d30;
}

/* App Wrapper */

.app{
  background: #f1f1f1;
}

.has-navbar-top .app-body {
  padding-top: 56px;
}

.has-navbar-bottom .app-body {
  padding-bottom: 14px;
}

/* Navbar */

.navbar{
  height: 56px;
  background: #1abc9c;
  border: 0;
  border-radius: 0;
  overflow: hidden;
}

.navbar-brand{
  height: auto;
  padding: 10px 10px 12px 10px;
  font-size: 18px;
  line-height: 34px;
}

.navbar-brand img{
  display: inline-block;
  height: 34px;
}

.navbar-absolute-bottom{
  height: 14px;
  min-height: 0px;
}

.menu-toggle{
  background: #16a085;
}

.menu-toggle span{
  height: 56px;
  color: #fff;
  font-size: 30px;
  line-height: 52px;
}

/* Sidebar */

.sidebar-left{
  background: #7f8c8d;
}

a.list-group-item{
  font-weight: 200;
  background-color: #ecf0f1;
  border:0;
  box-shadow: 0 0 0 #000;
}

a.list-group-item:hover,
a.list-group-item:active{
  background-color: #ecf0f1;
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:active{
  background-color: #2980b9;
}

/* Page */

.hero-image{
  display: table;
  width: 100%;
  min-height: 240px;
  background-size: cover;
  color: #fff;
  margin: 0 0 15px;
  position: relative;
}

.hero-image.city{
  background: url('../img/city.jpg') 50% no-repeat;
}

.hero-image.urban{
  background: url('../img/urban.jpg') 50% no-repeat;
}

.hero-overlay{
  background: rgba(0,0,0,0.65);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.page-snippet{
  display: table-cell;
  font-size: 26px;
  font-weight: 100;
  margin: 0;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.page-snippet span{
  display: block;
  font-size: 64px;
  margin-bottom: 10px;
}

/* Accoridon */

.panel-group{
  margin: 0;
}

.panel-group .panel{
  border: 0;
  border-radius: 4px;
  margin: 0 0 15px;
  overflow: hidden;
}

.panel-default>.panel-heading{
  background-color: #e74c3c;
}

html .panel-group .panel-title{
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  line-height: 50px;
}

.panel-title span{
  color: #c0392b;
  font-size: 24px;
  margin-right: 10px;
  vertical-align: text-bottom;
}

.panel-group .panel-heading+.panel-collapse .panel-body{
  background: #c0392b;
  color: #fff;
}

.panel-body h5{
  font-size: 18px;
  font-weight: 100;
  margin: 0;
  text-align: center;
  padding: 8px 0;
  border-top: 1px solid #e74c3c;
  border-bottom: 1px solid #e74c3c;
}

.panel-body ul{
  font-weight: 100;
  margin: 15px 0 0;
  padding: 0 15px;
}

.panel-body ul li{
  font-size: 15px;
  list-style-type: none;
  position: relative;
  padding: 0 0 0 20px;
}

.panel-body ul li span{
  position: absolute;
  left: 0;
  top: 4px;
}

.panel-body ul ul{
  border-left: 8px solid #e74c3c;
}

.panel-body ul ul li{
  font-size: 14px;
  padding: 0;
}